body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Transparansi 70% */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4081;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff79b0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
